%a{ :href => @photo_link, :title => @photo.title }
  %img{ :class => 'main', :src => @photo_url, :alt => @photo.title }

%p{ :class => 'description' }
  = @description.gsub("\n", '<br />')

%h1
  Every Damned Shirt
%p
  Every day, I will pull a tshirt out of my drawer(s), wear it, photograph it, upload it, and write a little bit about its history. No repeats until I'm done. By <a href="http://whoisjohnbarton.com">John</a>. Full set in my <a href="http://www.flickr.com/photos/johotravels/tags/everydamnedshirt/">photostream</a>. Or <a href="http://api.flickr.com/services/feeds/photos_public.gne?id=86448492@N00&tags=everydamnedshirt&lang=en-us&format=rss_200">RSS</a> if you prefer.
  
- @other_thumbnails.each do |title, image_href, photo_url|
  %a{ :href => photo_url, :title => title }
    %img{ :src => image_href, :alt => title }