!!! 5
%html{html_attrs('en-AU')}
  %head
    %title Every Damned Shirt
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/style.css' }
    %link{ :rel => 'alternate', :type => 'application/rss+xml', :title => 'RSS Feed', :href => 'http://api.flickr.com/services/feeds/photos_public.gne?id=86448492@N00&tags=everydamnedshirt&lang=en-us&format=rss_200' }
    %script{ :type => 'text/javascript' }
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-708262-3']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  %body
    .container
      = yield