body {
	font-family: Helvetica, Arial, Sans-Serif;
	text-align: center;
	margin: 1em 0 0 0;
	vertical-align: middle;
}

.container {
	text-align:left;
	width: 760px;
	margin: 0 auto;
}

img.main {
	float: right;
	margin-left: 0.5em;
}

img {
	border: 0;
}

h1 {
	font-size: 5em;
	clear: right;
	text-align: right;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.1em;
  line-height: 1.6em;
}

p.description {
	padding-top: 2em;
}

.shirt {
  width: 74px;
  height: 74px;
  overflow: hidden;
  float: left;
  margin: 1px;
}
